<header class="header">
  <div class="header__logo">🔍</div>
  <h1 class="header__title">Image Copyright Audit</h1>
</header>
<main class="main">
  <div class="container">
    <div class="start-card mb32">
      <h2 class="start-card__title">Start new audit</h2>
      <p class="start-card__sub-title">Enter a client website URL. The tool will crawl all pages and collect image URLs.</p>

      <form
        class="start-card__form"
        [formGroup]="form"
        (ngSubmit)="onSubmit($event)"
      >
        <input
          formControlName="url"
          class="start-card__input"
          type="url"
          placeholder="https://client-website.com"
        >
        <button class="button button--primary start-card__button">Run Audit</button>
      </form>

    </div>
    @if (isCrawling()){
      <div class="progress-card">
        <div class="progress-header">
          <div class="progress-site">{{host()}}</div>
          <div class="progress-status"
               [class.status-done]="statusText() === 'Complete'">{{ statusText() }}</div>
        </div>
        <div class="progress-bar-wrap">
          <div class="progress-bar" [style.width.%]="progressPercent()"></div>
        </div>
        <div class="progress-footer">
          {{ progressPercent() }}%
        </div>
      </div>
    }
    <div class="stats-row stats-single">
      <div class="start-card stat-total">
        <div class="start-card__label">Total images found</div>
        <div class="start-card__value">{{ images().length }}</div>
      </div>
      <div class="start-card stat-total">
        <div class="start-card__label">Total suspect images found</div>
        <div class="start-card__value">{{ images().length }}</div>
      </div>
      @if (images().length > 0) {
        <button
          class="button button--primary stats-row__button-download"
          (click)="downLoadCsv()">📊 Download result in CSV 📊</button>
      }
    </div>

    <div class="table-wrap">
      @if (images().length > 0) {
        <ul class="table-wrap__list">
          @for (item of images(); track item) {
            <li class="table-wrap__list-item">
              <a class="table-wrap__list-link" target="_blank" [href]="item">{{ item }}</a>
            </li>
          }
        </ul>
      } @else {
        <div class="table-wrap__empty">
          <div class="table-wrap__icon">🔍</div>
          <p>No images found.</p>
        </div>
      }
    </div>

  </div>
</main>
<router-outlet />
