<header class="header">
  <div class="header__logo">🔍</div>
  <h1 class="header__title">Image Copyright Audit</h1>
</header>
<main class="main">
  <div class="container">
    <div class="start-card mb32">
      <h2 class="start-card__title">Start new audit</h2>
      <p class="start-card__sub-title">Enter a client website URL. The tool will crawl all pages and collect image URLs.</p>

      <form
        class="start-card__form"
        [formGroup]="form"
        (ngSubmit)="onSubmit($event)"
      >
        <input
          formControlName="url"
          class="start-card__input"
          type="url"
          placeholder="https://client-website.com"
        >
        <button class="button button--primary start-card__button">Run Audit</button>
      </form>

    </div>
    @if (isCrawling()){
      <div class="progress-card">
        <div class="progress-header">
          <div class="progress-site">{{host()}}</div>
          <div class="progress-status"
               [class.status-done]="statusText() === 'Complete'">{{ statusText() }}</div>
        </div>
        <div class="progress-bar-wrap">
          <div class="progress-bar" [style.width.%]="progressPercent()"></div>
        </div>
        <div class="progress-footer">
          {{ progressPercent() }}%
        </div>
      </div>
    }
    @if (isCheckingTinEye()) {
      <div class="progress-card tineye-card">
        <div class="progress-header">
          <div class="progress-site">Анализ плагиата (TinEye API)</div>
          <div class="progress-status"
               [class.status-done]="tineyeProgressPercent() === 100">{{ tineyeStatusText() }}</div>
        </div>
        <div class="progress-bar-wrap">
          <div class="progress-bar tineye-bar" [style.width.%]="tineyeProgressPercent()"></div>
        </div>
        <div class="progress-footer">
          {{ tineyeProgressPercent() }}%
        </div>
      </div>
    }
    <div class="stats-row stats-single">
      @if (images().length > 0) {
        <button
          class="button button--primary stats-row__button-download"
          (click)="downLoadCsv()">📊 Download result in CSV 📊</button>
      }
    </div>

    <div class="table-wrap">
      <div class="table-wrap__wrapper">
        <div class="table-wrap__wrapper-header">
          <ul class="table-wrap__header">
            <li class="table-wrap__header-item">Url Image</li>
            <li class="table-wrap__header-item">Page</li>
            <li class="table-wrap__header-item">Class Html</li>
          </ul>
        </div>
        @if (images().length > 0) {
          <ul class="table-wrap__list">
            @for (item of images(); track item.url) {
              <li class="table-wrap__list-item">
                <div class="table-wrap__list-item-wrap"><a class="table-wrap__list-link" target="_blank" [href]="item.url">{{item.url}}</a></div>
                <div class="table-wrap__list-item-wrap"><a class="table-wrap__list-link" target="_blank" [href]="item.pageUrl">{{item.pageUrl}}</a></div>
                <div class="table-wrap__list-item-wrap"><span class="table-wrap__list-link" [class.text-muted]="item.className === 'no-class'">{{ item.className }}</span></div>
              </li>
            }
          </ul>
        } @else {
          <div class="table-wrap__empty">
            <div class="table-wrap__icon">🔍</div>
            <p>No images found.</p>
          </div>
        }
        <div class="table-wrap__footer">
          <div class="table-wrap__footer-item"><span class="table-wrap__footer-label">Total images found:</span><span> {{ images().length }}</span></div>
          <div class="table-wrap__footer-item"><span class="table-wrap__footer-label">Total suspect images found:</span><span> {{ suspectImagesCount() }}</span></div>
        </div>
      </div>
    </div>

  </div>
</main>
<router-outlet />
